
  <div class="container-fluid marketing index">

        <!-- Three columns of text below the carousel -->
        <div class="row first-row">
          <div class="col-sm-3">
          <div class="center-img">
            <i class="fa fa-user fa-5x"></i> 
            <h2>sign up at a click</h2>
          </div>
            <p class="content"> Find tournaments just a click away.</p>
            
            
          </div><!-- /.col-lg-4 -->
          <div class="col-sm-3">
            <div class="center-img">
            <i class="fa fa-bell fa-5x"></i> 
            <h2>Calendars and notifications</h2>
            </div>
            <p class="content">You can check schedules and receive notifications of the organization in real time.</p>
          </div><!-- /.col-lg-4 -->
          <div class="col-sm-3">
            <div class="center-img">
            <i class="fa fa-bar-chart fa-5x"></i> 
            
            <h2>Results and statistics</h2>
            </div>
            <p class="content"> Results, rankings, statistics ... All the  information that you do not pass any detail!</p>
          </div><!-- /.col-lg-4 -->
          <div class="col-sm-3">
            <div class="center-img">
            <i class="fa fa-users fa-5x"></i> 
            </div>
            
            <h2>Find your ideal team</h2>
            <p class="content">contact with players and teams with the same level.</p>
          </div>
        </div><!-- /.row -->
    
 

      <div class="row featurette second-row">
        <div class="col-sm-7">
          <h2 class="featurette-heading"> Play </h2>
          <p class="lead second-row-description content">Here you can look for gamers like you that can help you have nice moments. Become best player and join in a best team .</p>
        </div>
        <div class="col-sm-5">
          <img class="featurette-image img-responsive center-block second_row_img" src="http://cdn22.merca20.com/wp-content/uploads/2016/03/gamers.jpg" alt="Generic placeholder image">
        </div>
      </div>



 </div>



