<div class="container-fluid">
  <div class="row options-user">
    <div class="col-sm-2">
      <a href="/users/show">Home</a>
    </div>
    <div class="col-sm-2">
      <a href="/users/show/calendar">Calendar</a>
    </div>
    <div class="col-sm-2">
      <a href="#">Stadistics</a>
    </div>
    <div class="col-sm-2 col-sm-offset-2">
      <i class="fa fa-commenting" aria-hidden="true"></i>
      <a href="#">Messages</a>
    </div>
    <div class="col-sm-2">
      <i class="fa fa-exclamation" aria-hidden="true"></i>
      <a href="#">Notifications</a>
    </div>
  </div>
</div>