<section class="banner-share">
	<div class="banner-wrapper">

		<div class="banner-description-share">
			<article>
				<h3>Share your ideas</h3>
				<p> You can gather a team of people, who share the same vision as you do, with the skills needed for the creation of your projects.</p>
			</article>
	</div>
	<div class="banner-img-share">
		<%= image_tag("share.png") %>
	</div>

</section>

